@using ModelLayer.Academician
@model  AcademicianResult
@{
    ViewBag.Title = "AcademicianInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danışman Bilgileri</h2>

<table class="table table-bordered">

    <tr>
        <th>AD :</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>SOYAD :</th>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <th>EMAİL :</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>TELEFON :</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>BÖLÜM :</th>
        <td>@Model.DepartmentName</td>
    </tr>
     

</table>
